.page-title-box .page-title {
    font-size: 16px;
    text-transform: none;
}

#table_wrapper {
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
}
